body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    color: #303030;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 50px;
    color: #000;
}

.btn {
    text-decoration: none;
    color: #000;
}

/* HEADER */

.header {
    padding: 20px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__logo {
}
.header__logo-img {
}
.header__menu-list {
    display: flex;
    gap: 20px;
    margin-right: auto;
}
.header__menu-item {
}
.header__menu-item-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    opacity: 0.4;
    transition: opacity .7s;
}
.header__menu-item-link:hover {
    opacity: 1;
}
.header__phone {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.header__btn {
    font-weight: 500;
    font-size: 16px;
    padding: 16px 36px;
    background-color: #00ffd7;
}

/* PROMO */

.promo {
    padding: 160px 0 80px;
    color: #fff;
    background: no-repeat url(../img/promo-bg.jpg) center center / cover;
    margin-bottom: 125px;
}

.promo__title {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.promo__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 60px;
}
.promo__text span {
    color: #00ffd8;
}
.promo__btn {
    display: inline-block;
    padding: 21px;
    width: 300px;
    min-height: 56px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    border: 1px solid #00ffd8;
    margin-right: 21px;
    margin-bottom: 125px;
    transition: background-color .7s, color .7s;
}

.promo__btn:hover {
    background-color: #00ffd8;
    color: #000;
}

.promo__list {
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.promo__item {
    text-align: center;
    max-width: 195px;
}

.promo__item:nth-child(even) {
    align-self: flex-end;
}

.promo__item-img {
    margin-bottom: 30px;
    filter: none;
    transition: filter .7s;
}

.promo__item-text {
    font-size: 15px;
    line-height: 20px;
    opacity: 0.6;
    transition: opacity .7s;
}

.promo__item:hover .promo__item-img {
    filter: drop-shadow(0 0 8px white);
}

.promo__item:hover .promo__item-text {
    opacity: .8;
}